# Part 1

Part 1 is just using sample/test coding to figure out the process that will need to be followed in order to process all 50 state data in a single for loop statement.

In [1]:
# Importing my dependencies which is only pandas
import pandas as pd

#Creating a DataFrame using the read_excel function from pandas
df = pd.read_excel("/Users/origi/Documents/Data Bootcamp/Final Challenge/Small Folder/Alabama.xlsx")

#Showing 100 points of data from the DataFrame
df.head(100)

,Local Area Unemployment Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,"LASST010000000000003,LASST010000000000004,LASS...",NaN,NaN,NaN,NaN,NaN,NaN
3,Seasonally Adjusted,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Area:,Alabama,NaN,NaN,NaN,NaN,NaN,NaN
5,Area Type:,Statewide,NaN,NaN,NaN,NaN,NaN,NaN
6,State/Region/Division:,Alabama,NaN,NaN,NaN,NaN,NaN,NaN
7,Years:,2020 to 2021,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
10,2020,Jan,57.5,55.6,2271707,2196647,75060,3.3
11,2020,Feb,57.4,55.4,2266396,2188425,77971,3.4
12,2020,Mar,57.2,55.2,2261366,2180272,81094,3.6
13,2020,Apr,55.4,47.8,2189708,1890788,298920,13.7
14,2020,May,57.4,51.5,2270749,2035223,235526,10.4
15,2020,Jun,57.5,52.5,2276235,2077480,198755,8.7
16,2020,Jul,57.8,53.4,2287268,2111266,176002,7.7
17,2020,Aug,57.7,53.9,2285319,2134930,150389,6.6
18,2020,Sep,57.8,54.3,2290413,2151241,139172,6.1
19,2020,Oct,57.5,54.5,2280554,2159691,120863,5.3
20,2020,Nov,57.3,54.6,2271915,2162940,108975,4.8
21,2020,Dec,57.1,54.6,2263225,2163877,99348,4.4
22,2021,Jan,56.9,54.6,2255058,2164668,90390,4
23,2021,Feb,56.8,54.6,2251260,2166202,85058,3.8
24,2021,Mar,56.7,54.6,2250687,2168244,82443,3.7
25,2021,Apr,56.7,54.7,2251194,2169595,81599,3.6
26,2021,May,56.7,54.6,2249901,2169710,80191,3.6
27,2021,Jun,56.6,54.6,2247768,2168329,79439,3.5
28,2021,Jul,56.5,54.5,2244144,2167068,77076,3.4
29,2021,Aug,56.3,54.5,2241293,2166788,74505,3.3
30,2021,Sep,56.3,54.5,2240353,2168364,71989,3.2
31,2021,Oct,56.3,54.5,2241442,2170873,70569,3.1
32,2021,Nov,56.2,54.5,2242078,2172390,69688,3.1
33,2021,Dec,56.2,54.5,2242275,2172841,69434,3.1

In [2]:
#Isolating the rows and information that is desired from the excel file
Alabama_df = df.iloc[10:]

#Showing 10 data points from the DataFrame to make sure that the desired results were achieved
Alabama_df.head(10)

,Local Area Unemployment Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
10,2020,Jan,57.5,55.6,2271707,2196647,75060,3.3
11,2020,Feb,57.4,55.4,2266396,2188425,77971,3.4
12,2020,Mar,57.2,55.2,2261366,2180272,81094,3.6
13,2020,Apr,55.4,47.8,2189708,1890788,298920,13.7
14,2020,May,57.4,51.5,2270749,2035223,235526,10.4
15,2020,Jun,57.5,52.5,2276235,2077480,198755,8.7
16,2020,Jul,57.8,53.4,2287268,2111266,176002,7.7
17,2020,Aug,57.7,53.9,2285319,2134930,150389,6.6
18,2020,Sep,57.8,54.3,2290413,2151241,139172,6.1
19,2020,Oct,57.5,54.5,2280554,2159691,120863,5.3

In [27]:
# The desired column names instead of "Local Area Unemployment Statistics", "Unnamed: 1",..., etc.
Column_names = ["Year", "Period", "Labor Force Participation Rate", "Employment-Population Ratio", "Labor Force", "Employment", "Unemployment", "Unemployment Rate"]

In [29]:
# Applying the column names to the DataFrame
Alabama = Alabama_df.set_axis(Column_names, axis=1, inplace=False)

# Appyling a caption just for aesthetic appeal
Alabama.style.set_table_attributes("style='display:inline'").set_caption('Alabama')

# Part 2

Part 2 is just the combination of the dummy/test code from above and shoving it into a for loop in order to avoid having to manually input each state through the code above.

In [41]:
# The list of states that the for loop will iterate for
State_names = ["Alaska", "Alabama", "Arkansas", "Arizona", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North_Carolina", "North_Dakota", "Nebraska", "New_Hampshire", "New_Jersey", "New_Mexico", "Nevada", "New_York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode_Island", "South_Carolina", "South_Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Vermont", "Washington", "Wisconsin", "West_Virginia", "Wyoming"]

In [58]:
# Reaffirming the desired column names
Column_names = ["Year", "Period", "Labor Force Participation Rate", "Employment-Population Ratio", "Labor Force", "Employment", "Unemployment", "Unemployment Rate"] 

# For loop designed to iterate through the State_names array and apply the desired changes to each of the states unemployment data
for i in State_names:
    # Reading the states excel file it
    df = pd.read_excel("/Users/origi/Documents/Data Bootcamp/Final Challenge/Small Folder/"+i+".xlsx")
    i_opt = df.iloc[10:]
    i_df = i_opt.set_axis(Column_names, axis=1, inplace=False)
    i_df.style.set_table_attributes("style='display:inline'").set_caption('i')
    # Create the output file (CSV).
    output_data_file = "/Users/origi/Documents/Data Bootcamp/Final Challenge/Preprocessed Small Folder/"+i+".csv"
    # Export the City_Data into a CSV.
    i_df.to_csv(output_data_file)